.images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70%;
  width: 70%;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 10%;
  overflow-y: scroll;
}
