.imagesContainer {
  height: 100%;
  width: 100%;
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
  transition: ease-in-out;
}

.images {
  height: 100%;
  width: 100%;
  justify-self: center;
  margin: auto;
}

