.imagesContainer {
  height: 100%;
  width: 100%;
  justify-self: center;
  grid-column: 2;
  grid-row: 2;
  animation: fadeOut 1s;
  transition: ease-in-out;
}

.images {
  height: 100%;
  width: 100%;
  justify-self: center;
  margin: auto;
  /* animation: fadeOut 2s linear; */
}
@keyframes fadeOut {
  0% { opacity: 1;}
  60% { opacity: 0.01;}
  100% { opacity: 0;}
}

