.saveModal {
  display:grid;
  grid-template-rows: 30px 30px 160px 25px 25px;
  grid-template-columns: 50px 50px 400px 50px;
  justify-content: center;
  position: fixed;
  width: 43%;
  height: 34%;
  top:45%;
  left:50%;
  border-radius: 15px;
  transform: translate(-50%,-50%);
  background: #ffffff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.664);
  animation-name: animateBottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes animateBottom {
  0%   {top: 100%; opacity: 1;}
  25%  {top: 90%; opacity: 0.75;}
  50%  {top: 80%; opacity: 0.5;}
  75%  {top: 70%; opacity: 0.25;}
  100% {top: 65%; opacity: 0.1;}
}

.displayShare {
  display:block;
}

.displayShareNone {
  display:none;
}

.closeBtn {
  height: 35px;
  width: 35px;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  margin-top: 20px;
  border: none;
  font-family: 'Airbnb Cereal App Book';
  justify-self: start;
  background-color: white;
  font-size: 20px;
}

.closeBtn:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(241, 240, 240);
}

.image {
  height: 55%;
  width: 90%;
  grid-column: 1/ span 2;
  grid-row: 3;
  place-self: center;
  border-radius: 10px;
}

.title {
  font-family: 'Airbnb Cereal App Book';
  grid-column: 3;
  grid-row: 1 /span 2;
  place-self: center;
  text-decoration-style: bold;
}

.title:hover {
  cursor: text;
}

.line1 {
  grid-column: 1/ span 3;
  grid-row: 2;
  align-self: end;
  color: rgb(233, 233, 233);
}

.line2 {
  grid-column: 1/ span 3;
  grid-row: 3;
  align-self: end;
  color: rgb(233, 233, 233);
}

.createList {
  font-family: 'Airbnb Cereal App Book';
  grid-column: 3;
  grid-row: 4 /span 2;
  place-self: center;
  text-decoration: underline;
}

.createList:hover .text:hover{
  cursor: pointer;
  background-color:rgb(235, 235, 235);
}

.text {
  font-family: 'Airbnb Cereal App Book';
  grid-column: 3;
  grid-row: 3 /span 2;
  margin-left: 20px;
  margin-top: 45px;
}

.anytime {
  font-family: 'Airbnb Cereal App Book';
  color: rgb(223, 219, 219);
  padding: 2px;
  font-size: 15px;
}

.list1 {
  font-family: 'Airbnb Cereal App Book';
  font-weight: bolder;
  padding: 2px;
}

.stays {
  font-family: 'Airbnb Cereal App Book';
  font-size: 15px;
  padding: 2px;
}